<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no">
	<title itemprop="name">Trade Fox</title>
	<link rel="shortcut icon" href="../img/favicon.ico">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/select2.min.css">
	<link rel="stylesheet" type="text/css" href="../css/slick.css">
	<link rel="stylesheet" type="text/css" href="../css/jquery.formstyler.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body class="body-login">

	<header class="header-login">
	<a href="" class="header-logo">
		<span class="header-logo__icon"></span>
		<span class="header-logo__descript"></span>
	</a>
</header>	<main class="main">
		<section class="login-and-register-wrp">
			<div class="login-and-register-content">
				<div class="login-and-register-image-wrp">
					<img src="../img/registration-image-bg.jpg" alt="" class="login-and-register-image-wrp__image">
				</div>
				<div class="login-and-register-info">
					<form>
						<div class="login-and-register-form">
							<a href="" class="back-to-login">Вход</a>
							<h2 class="login-and-register-form__title">Регистрация личного кабинета</h2>
							<div class="login-and-register-form__input-row">
								<input type="text" class="login-and-register-form__input" placeholder="Введите Имя">
							</div>
							<div class="login-and-register-form__input-row">
								<input type="text" class="login-and-register-form__input" placeholder="Введите E-mail">
							</div>
							<div class="login-and-register-form__input-row">
								<input type="password" class="login-and-register-form__input" placeholder="Введите Пароль">
							</div>
							<div class="login-and-register-form__input-row">
								<input type="password" class="login-and-register-form__input" placeholder="Подтвердите Пароль">
							</div>
							<div class="login-and-register-form__input-row capcha-row">
								<div class="capcha-block">
									<img src="../img/capcha.png" alt="" class="capcha-block__image">
									<button class="capcha-block__reload"></button>
								</div>
								<input type="text" class="login-and-register-form__input" placeholder="Введите код">
							</div>
							<p class="login-and-register-form__policy">Нажимая кнопку “Зарегистрироваться”, вы подтверждайте, что вам
								больше 18 лет и соглашаетесь с <a href="" class="text-link">Политикой Конфиденциальности</a></p>
							<div class="login-and-register-buttons">
								<a href="" class="basic-button">ЗАРЕГИСТРИРОВАТЬСЯ</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
	</main>
	<!-- jQuery -->
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/ts-select2.min.js"></script>
<script src="../js/slick.js"></script>
<script src="../js/jquery.formstyler.js"></script>
<script src="../js/chart.min.js"></script>
<script src="../js/charts-scripts.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<!-- My JS -->
<script src="../js/app.js" async></script></body>




</html>